.container{

}
body{
    counter-reset:heading;
}
h2{
    counter-increment: heading;
    counter-reset:subcouter;
}
h2::before{
    content:  counter(heading) "-";
}
h3{
    counter-increment: subcouter;
}
h3::before{
    content:  counter(heading) "." counter(subcouter);
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    clip-path:polygon(0 0,100% 0%,100% 100%,0 100%,100% 100%,100% 100%);
}